<div class="dyn-form" *ngIf="schema">

  <!-- ================= FIELDS ================= -->
  <div *ngFor="let field of schema.fields" class="field-row">

    <label class="field-label">
      {{ field.label }}
      <span *ngIf="field.required" class="required">*</span>
    </label>

    <!-- PREVIEW MODE -->
    <div *ngIf="readonly" class="preview-value">
      {{ value?.[field.key] || '-' }}
    </div>

    <!-- EDIT MODE -->
    <ng-container *ngIf="!readonly">

      <input *ngIf="field.type === 'text'"
        type="text"
        class="input"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()" />

      <input *ngIf="field.type === 'number'"
        type="number"
        class="input"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()" />

      <input *ngIf="field.type === 'email'"
        type="email"
        class="input"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()" />

      <textarea *ngIf="field.type === 'textarea'"
        class="textarea"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()"></textarea>

      <input *ngIf="field.type === 'date'"
        type="date"
        class="input"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()" />

      <div *ngIf="field.type === 'checkbox'" class="checkbox-row">
        <label>
          <input type="checkbox"
            [(ngModel)]="value[field.key]"
            (ngModelChange)="onValueChange()" />
          {{ field.label }}
        </label>
      </div>

      <select *ngIf="field.type === 'select'"
        class="input"
        [(ngModel)]="value[field.key]"
        (ngModelChange)="onValueChange()">
        <option value="">Select</option>
        <option *ngFor="let opt of field.options" [value]="opt">
          {{ opt }}
        </option>
      </select>

    </ng-container>
  </div>

  <!-- ================= ATTACHMENTS ================= -->
  <div *ngIf="validAttachments.length && readonly" class="attachments">
    <h4>Attachments</h4>
    <ul class="attachment-list">
      <li *ngFor="let file of validAttachments">
        <a [href]="file.url" target="_blank">
          {{ file.name }}
        </a>
      </li>
    </ul>
  </div>

</div>
