<div class="dyn-form" *ngIf="schema">

  <div *ngFor="let field of schema.fields" class="field-row">

    <label class="field-label">
      {{ field.label }}
      <span *ngIf="field.required" class="required">*</span>
    </label>

    <!-- ================= PREVIEW MODE ================= -->
    <div *ngIf="readonly" class="preview-value">
      {{ value?.[field.key] || '-' }}
    </div>

    <!-- ================= EDIT MODE ================= -->
    <ng-container *ngIf="!readonly">

      <!-- TEXT -->
      <input
        *ngIf="field.type === 'text'"
        type="text"
        class="input"
        [(ngModel)]="value[field.key]"
      />

      <!-- NUMBER -->
      <input
        *ngIf="field.type === 'number'"
        type="number"
        class="input"
        [(ngModel)]="value[field.key]"
      />

      <!-- EMAIL -->
      <input
        *ngIf="field.type === 'email'"
        type="email"
        class="input"
        [(ngModel)]="value[field.key]"
      />

      <!-- TEXTAREA -->
      <textarea
        *ngIf="field.type === 'textarea'"
        class="textarea"
        [(ngModel)]="value[field.key]">
      </textarea>

      <!-- DATE -->
      <input
        *ngIf="field.type === 'date'"
        type="date"
        class="input"
        [(ngModel)]="value[field.key]"
      />

      <!-- CHECKBOX -->
      <!-- <div *ngIf="field.type === 'checkbox'" class="checkbox-wrapper">
        <input
          type="checkbox"
          [(ngModel)]="value[field.key]"
        />
      </div> -->
    <div *ngIf="field.type === 'checkbox'" class="checkbox-row">
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="value[field.key]"
    />
    <span>
      {{ field.label }}
      <span *ngIf="field.required" class="required">*</span>
    </span>
  </label>
</div>

      <!-- SELECT / DROPDOWN -->
      <select
        *ngIf="field.type === 'select'"
        class="input"
        [(ngModel)]="value[field.key]"
      >
        <option value="">Select</option>
        <option *ngFor="let opt of field.options" [value]="opt">
          {{ opt }}
        </option>
      </select>

      <!-- RADIO -->
      <div *ngIf="field.type === 'radio'" class="radio-group">
        <label *ngFor="let opt of field.options" class="radio-option">
          <input
            type="radio"
            [name]="field.key"
            [value]="opt"
            [(ngModel)]="value[field.key]"
          />
          {{ opt }}
        </label>
      </div>

    </ng-container>

  </div>

  <!-- ================= ATTACHMENTS ================= -->
  <div *ngIf="attachments?.length && (readonly || !previewAttachmentsOnly)">
    <h4>Attachments</h4>
    <ul>
      <li *ngFor="let file of attachments">
        <a [href]="file.url" target="_blank">{{ file.name }}</a>
      </li>
    </ul>
  </div>

</div>
