<div class="page-header">
  <h1>{{ template?.name }}</h1>

  <div class="header-actions">
    <button class="btn publish" (click)="publish()">Publish</button>
    <button class="btn preview" (click)="preview()">Preview</button>
      <button class="btn preview" (click)="backtotemplate()">back</button>
  </div>
</div>

<!-- <p class="sub-title">Edit template body, fields & attachments</p> -->

<div class="editor-layout">
  
  <!-- LEFT SIDE -->
  <div class="left-column">
    <div class="card">
      <h3>Template Body</h3>

      <app-rich-text
        [(content)]="editorContent"
        (contentChange)="onEditorChange($event)">
      </app-rich-text>
    </div>
     <div class="card">
      <h3>Form Fields</h3>
      <app-dynamic-form
        [schema]="template?.schema"
        [(value)]="formValues">
      </app-dynamic-form>
    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-column">

   

    <div class="card">
      <h3>Attachments</h3>

      <app-file-upload (uploaded)="onUploaded($event)"></app-file-upload>

      <ul class="attachment-list">
        <li *ngFor="let file of template.attachments">
          <a [href]="file" target="_blank">{{ file }}</a>
          <button class="remove" (click)="removeAttachment(file)">✕</button>
        </li>
      </ul>
    </div>

    <div class="card">
      <h3>Schema Builder</h3>
      <app-schema-builder
        [fields]="template?.schema?.fields"
        (fieldsChange)="onSchemaChange($event)">
      </app-schema-builder>
    </div>

  </div>

</div>
